<h1 class="site-title">
	<span class="base05">[</span><span class="base08">7</span><span class="base09">.</span><span class="base0d">0</span><span class="base05">]</span><span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="/img/base16-eighties.svg">
</div>

<div id="catchphrase" style="text-align: center;"></div>

<script type="text/javascript">
  var catchphrases = [
    "Pioneer of insanity-driven development.",
    "In pursuit of truly artisanal code.",
    "Just trying to make sense of it all."
  ];

  document.getElementById("catchphrase").innerHTML = catchphrases[Math.floor(Math.random() * catchphrases.length)];
</script>
